@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

header .navbar {
  background-color: rgb(214, 204, 194);
  position: absolute;
  overflow-y: hidden;
  top: 0px;
  width: 100%;
  box-shadow: 0px 0px 5px black;
}
header .navbar .nav-text {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-align: center;
  padding-top: 15px;
}
header .navbar .nav-log {
  width: 50px;
  height: 60px;
}
header .navbar .navbar-nav {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}
header .navbar .navbar-nav .nav-link {
  color: black;
  font-family: "Rajdhani", sans-serif;
}
header .navbar .navbar-nav .nav-link:hover {
  color: rgb(237, 237, 233);
}

.sec1 {
  background: rgb(245, 235, 224);
  background: linear-gradient(180deg, rgb(245, 235, 224) 15%, rgb(227, 213, 202) 50%, rgb(213, 189, 175) 50%, rgb(184, 144, 120) 85%);
  height: 600px;
  padding: 20px;
  padding-top: 90px;
  margin-top: 50px;
}
.sec1 .conteiner {
  height: 450px;
  width: 85% vh;
  background-color: rgb(245, 235, 224);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.637);
  border-radius: 1%;
  padding-top: 20px;
}
.sec1 .conteiner .cont-cv {
  background-image: url(./imgcv/bkg1.png);
  height: 180px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(214, 204, 194);
  border-radius: 100%;
}
.sec1 .conteiner .title-cv1 {
  font-size: 27px;
  text-align: center;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-shadow: black 0px 1px 2.5px;
}
.sec1 .conteiner .boton {
  display: block;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}
.sec1 .conteiner .boton .btn-cv {
  border-radius: 20px;
  background-color: #D9C3B6;
  color: black;
  box-shadow: 0px 0px 5px 0px black;
  border: none;
  padding: 5px;
  margin-right: 10px;
  box-shadow: 0px 0px 15px 0px black;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.sec1 .conteiner .boton .btn-proy {
  border-radius: 20px;
  background-color: #D9C3B6;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px black;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px black;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.sec1 .conteiner .boton .btn-cv:hover {
  color: white;
}
.sec1 .conteiner .boton .btn-proy:hover {
  color: black;
}
.sec1 .conteiner .menu-cv {
  margin-top: 30px;
  background-color: white;
  height: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}
.sec1 .conteiner .menu-cv a.brands {
  color: black;
  text-decoration: none;
}
.sec1 .conteiner .menu-cv a.brands .fa-whatsapp {
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.5s;
}
.sec1 .conteiner .menu-cv a.brands .fa-linkedin-in {
  transition: all 0.5s;
}
.sec1 .conteiner .menu-cv a.brands .fa-envelope {
  transition: all 0.5s;
}
.sec1 .conteiner .menu-cv a.brands .fa-whatsapp:hover {
  transform: scale(1.2);
}
.sec1 .conteiner .menu-cv a.brands .fa-linkedin-in:hover {
  transform: scale(1.2);
}
.sec1 .conteiner .menu-cv a.brands .fa-envelope:hover {
  transform: scale(1.2);
}

.sec2 {
  background-color: #b89078;
  height: 100%;
}
.sec2 .title-cv2 {
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
  padding: 0px;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: black 0px 1px 2.5px;
}
.sec2 .text-sec2 {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

footer {
  height: 100%;
  background-color: rgb(245, 235, 224);
  border: 1px solid black;
  flex-wrap: wrap;
}
footer .title-foo {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  text-align: center;
  font-size: 25px;
  text-shadow: rgb(81, 81, 81) 0px 2px 5px;
}
footer .text-foo {
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
}
footer .priv-foo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
  font-size: 10px;
}
footer .text-foo:hover {
  color: #b89078;
}

@media only screen and (min-width: 1890px) and (max-width: 4000px) {
  header .navbar {
    background-color: white;
    box-shadow: none;
  }
  header .navbar .nav-text {
    padding-top: 15px;
    padding-left: 20px;
    font-size: 25px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
  }
  header .navbar .nav-log {
    scale: 1.2;
    filter: drop-shadow(8px 8px 4px black);
  }
  header .navbar .navbar-nav {
    display: flex;
    justify-content: end;
  }
  header .navbar .navbar-nav .nav-link:hover {
    color: #b89078;
  }
  .sec1 {
    background: rgb(255, 255, 255);
    background: linear-gradient(270deg, rgb(255, 255, 255) 47%, rgb(214, 204, 194) 47%);
    height: 800px;
  }
  .sec1 .conteiner {
    height: 500px;
    width: 400px;
    box-shadow: -38px 37px 41px -28px rgba(0, 0, 0, 0.49);
    border-radius: 0%;
    padding-top: 20px;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .sec1 .conteiner .cont-cv {
    height: 200px;
    margin-left: 90px;
    margin-right: 90px;
  }
  .sec1 .conteiner .title-cv1 {
    font-size: 30px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .sec1 .conteiner .boton {
    margin-top: 60px;
    scale: 1.5;
  }
  .sec1 .conteiner .boton .btn-cv {
    background-color: blue;
    color: white;
    box-shadow: none;
    transition: all 1.5s;
    border: 1px solid black;
  }
  .sec1 .conteiner .boton .btn-proy {
    background-color: white;
    color: black;
    box-shadow: none;
    transition: all 1.5s;
    border: 1px solid black;
  }
  .sec1 .conteiner .boton .btn-cv:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    opacity: 0.9;
  }
  .sec1 .conteiner .boton .btn-proy:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    opacity: 0.9;
  }
  .sec1 .conteiner .menu-cv {
    margin-top: 50px;
    background-color: white;
    height: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
  }
  .sec1 .conteiner .menu-cv a.brands {
    color: black;
    text-decoration: none;
  }
  .sec1 .conteiner .menu-cv a.brands .fa-whatsapp:hover {
    transform: scale(1.3);
  }
  .sec1 .conteiner .menu-cv a.brands .fa-linkedin-in:hover {
    transform: scale(1.3);
  }
  .sec1 .conteiner .menu-cv a.brands .fa-envelope:hover {
    transform: scale(1.3);
  }
  .sec2 {
    position: absolute;
    left: 59%;
    top: 210px;
    background-color: white;
    height: 508px;
    width: 300px;
  }
  .sec2 .title-cv2 {
    padding: 35px;
    margin-bottom: 0px;
    font-size: 50px;
  }
  .sec2 .text-sec2 {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  footer {
    height: 100%;
    background-color: white;
    border: none;
    width: 100% vh;
  }
  footer .foo {
    padding-top: 50px;
  }
  footer .foo .title-foo {
    float: left;
    font-family: "Rajdhani", sans-serif;
    margin: 0px;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
  }
  footer .foo .text-foo {
    float: left;
    font-family: "Rajdhani", sans-serif;
    font-size: 17px;
    color: black;
    padding-left: 0px;
    font-weight: 400;
  }
  footer .foo .priv-foo {
    float: right;
    text-align: right;
    font-family: "Times New Roman", Times, serif;
    margin-top: 0px;
    font-size: 15px;
    padding-right: 20px;
    margin-bottom: 0px;
  }
  .curriculum, .proyect, .contact {
    background-color: rgb(214, 204, 194);
    height: 100%;
    padding-bottom: 50px;
  }
  .curriculum .title-cv, .proyect .title-cv, .contact .title-cv {
    color: black;
    font-size: 50px;
    padding-top: 250px;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
  }
  .curriculum .edu, .proyect .edu, .contact .edu {
    display: flex;
    justify-content: start;
    margin-top: 50px;
  }
  .curriculum .edu .btn-download, .proyect .edu .btn-download, .contact .edu .btn-download {
    background-color: blue;
    color: white;
    box-shadow: none;
    text-decoration: none;
    transition: all 1.5s;
    border-radius: 50px;
    padding: 10px;
    font-family: "Rajdhani", sans-serif;
    margin-left: 500px;
    font-size: 20px;
    transition: all 1.5s;
  }
  .curriculum .edu .subtitle-cv, .proyect .edu .subtitle-cv, .contact .edu .subtitle-cv {
    font-family: "Rajdhani", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 30%;
  }
  .curriculum .edu .btn-download:hover, .proyect .edu .btn-download:hover, .contact .edu .btn-download:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    box-shadow: 0px 0px 15px black;
  }
  .curriculum .cont-edu, .proyect .cont-edu, .contact .cont-edu {
    background-color: rgb(237, 237, 233);
    height: 250px;
    margin-left: 650px;
    margin-right: 650px;
    margin-top: 50px;
    box-shadow: -16px 10px 45px -19px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .curriculum .cont-edu .art-edu, .proyect .cont-edu .art-edu, .contact .cont-edu .art-edu {
    display: flex;
    justify-content: flex-start;
  }
  .curriculum .cont-edu .art-edu .title-edu, .proyect .cont-edu .art-edu .title-edu, .contact .cont-edu .art-edu .title-edu {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: blue;
    font-size: 25px;
    text-align: center;
    text-shadow: black 0px 1px 2px;
    font-family: "Rajdhani", sans-serif;
  }
  .curriculum .cont-edu .art-edu .text-fecha, .proyect .cont-edu .art-edu .text-fecha, .contact .cont-edu .art-edu .text-fecha {
    font-size: 17px;
    font-family: "Josefin Slab", serif;
  }
  .curriculum .cont-edu .art-edu .text-edu, .proyect .cont-edu .art-edu .text-edu, .contact .cont-edu .art-edu .text-edu {
    text-align: center;
    font-size: 15px;
    margin-left: 30px;
    padding-right: 10px;
    font-family: "Rajdhani", sans-serif;
  }
  .curriculum .cont-edu .art-edu .text-edu_ef, .proyect .cont-edu .art-edu .text-edu_ef, .contact .cont-edu .art-edu .text-edu_ef {
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 30px;
    font-family: "Rajdhani", sans-serif;
  }
  .curriculum .cont-edu .art-edu .text-exp, .proyect .cont-edu .art-edu .text-exp, .contact .cont-edu .art-edu .text-exp {
    text-align: center;
    padding-top: 30px;
    padding-right: 15px;
    margin-left: 30px;
    font-family: "Rajdhani", sans-serif;
  }
  .curriculum .cont-apt, .proyect .cont-apt, .contact .cont-apt {
    background-color: rgb(237, 237, 233);
    height: 550px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
    box-shadow: -16px 10px 45px -19px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
  }
  .curriculum .cont-apt .apt, .proyect .cont-apt .apt, .contact .cont-apt .apt {
    padding: 50px;
  }
  .curriculum .cont-apt .apt .apt-title, .proyect .cont-apt .apt .apt-title, .contact .cont-apt .apt .apt-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  .curriculum .cont-apt .apt .apt-list, .proyect .cont-apt .apt .apt-list, .contact .cont-apt .apt .apt-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style-type: square;
  }
  .curriculum .cont-apt .apt .apt-list .apt-li, .proyect .cont-apt .apt .apt-list .apt-li, .contact .cont-apt .apt .apt-list .apt-li {
    color: blue;
    font-size: 25px;
    margin-top: 30px;
  }
  .curriculum .cont-apt .apt .apt-list .apt-list_item, .proyect .cont-apt .apt .apt-list .apt-list_item, .contact .cont-apt .apt .apt-list .apt-list_item {
    margin-right: 70px;
    color: black;
    font-size: 17px;
    font-family: "Josefin Slab", serif;
    font-weight: bold;
  }
  .proyect .text-proy, .contact .text-proy {
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    padding-top: 50px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 60px;
  }
  .proyect .cont-proy, .contact .cont-proy {
    background-color: rgb(237, 237, 233);
    height: 520px;
    margin-right: 400px;
    margin-left: 400px;
    box-shadow: -16px 10px 45px -19px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .proyect .cont-proy .img-proy, .contact .cont-proy .img-proy {
    background-image: url(./imgcv/altreno.jpeg);
    height: 520px;
    width: 640px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .proyect .cont-proy .title-proy, .contact .cont-proy .title-proy {
    font-size: 60px;
    font-weight: bold;
    color: blue;
    font-family: "Rajdhani", sans-serif;
    margin-top: 30px;
    margin-left: 55px;
  }
  .proyect .cont-proy .subtitle-proy, .contact .cont-proy .subtitle-proy {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 55px;
    font-size: 35px;
  }
  .proyect .cont-proy .text-proy_info, .contact .cont-proy .text-proy_info {
    font-size: 35px;
    margin-left: 55px;
    font-family: "Josefin Slab", serif;
    margin-top: 50px;
    margin-right: 60px;
  }
  .proyect .cont-proy .btn-link, .contact .cont-proy .btn-link {
    font-size: 30px;
    margin-left: 250px;
    margin-right: 250px;
    font-family: "Rajdhani", sans-serif;
    background-color: blue;
    color: white;
    box-shadow: none;
    text-decoration: none;
    transition: all 1.5s;
    border-radius: 50px;
    padding: 10px;
    display: block;
    text-align: center;
  }
  .proyect .cont-proy .btn-link:hover, .contact .cont-proy .btn-link:hover {
    background-color: white;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    border: 3px solid black;
  }
}/*# sourceMappingURL=estilos.css.map */