
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$font1:'Rajdhani', sans-serif;
$font2:'Josefin Slab', serif;;
$font3:'Roboto', sans-serif;
$color1:rgb(214, 204, 194);
$color2:rgb(237, 237, 233);
$color3:rgb(245, 235, 224);
$color4: #b89078;
$color5: #D9C3B6;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    .navbar{
        background-color: $color1;
        position: absolute;
        overflow-y: hidden;
        top: 0px;
        width: 100%;
        box-shadow: 0px 0px 5px black;
        .nav-text{
            font-weight: bold;
            font-family: $font3;
            font-size: 17px;
            text-align: center;
            padding-top: 15px;
        }
        .nav-log{
            width: 50px;
            height: 60px;
        }
        .navbar-nav{
            height: 100%;
            width: 100%;
            overflow-y: hidden;
            text-align: center;
            font-weight: 500;
            font-size: 25px;
            .nav-link{
                color: black;
                font-family: $font1;
            }
            .nav-link:hover{
                color: $color2;
            }
        }
    }   
}
.sec1{
    background: rgb(245,235,224);
    background: linear-gradient(180deg, rgba(245,235,224,1) 15%, rgba(227,213,202,1) 50%, rgba(213,189,175,1) 50%, rgba(184,144,120,1) 85%);
    height: 600px;
    padding: 20px;
    padding-top: 90px;
    margin-top: 50px;
    .conteiner{
        height: 450px;
        width: 85%vh;
        background-color: $color3;   
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.637);
        border-radius: 1%;
        padding-top: 20px;
        .cont-cv{
            background-image: url(./imgcv/bkg1.png);
            height: 180px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: 50px;
            margin-right: 50px;
            background-color: rgb(214, 204, 194);
            border-radius: 100%;
        }
        .title-cv1{
            font-size: 27px;
            text-align: center;
            margin-top: 20px;
            font-family: $font3;
            font-weight: bold;
            text-shadow: black 0px 1px 2.5px;
        }
        .boton{
            display: block;
            text-align: center;
            margin: 10px;
            margin-top: 30px;
            .btn-cv{
                border-radius: 20px;
                background-color: $color5;
                color: black;
                box-shadow: 0px 0px 5px 0px black;
                border: none;
                padding: 5px;
                margin-right: 10px;
                box-shadow: 0px 0px 15px 0px black;
                font-family: $font1;
                font-weight: bold;
                text-decoration: none;
            }
            .btn-proy{
                border-radius: 20px;
                background-color: $color5;
                color: rgb(255, 255, 255);
                box-shadow: 0px 0px 5px 0px black;
                border: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
                box-shadow: 0px 0px 15px 0px black;
                font-family: $font1;
                font-weight: bold;
                text-decoration: none;
            }
            .btn-cv:hover{
                color: white;
            }
            .btn-proy:hover{
                color: black;
            }
        }
        .menu-cv{
            margin-top: 30px;
            background-color: white;
            height: 50px;
            text-align: center;
            font-size: 30px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: black;
            a.brands{
                color: black;
                text-decoration: none;
                .fa-whatsapp{
                    margin-left: 10px;
                    margin-right: 10px;
                    transition: all 0.5s;
                }
                .fa-linkedin-in{
                    transition: all 0.5s;
                }
                .fa-envelope{
                    transition: all 0.5s;
                }
                .fa-whatsapp:hover{
                    transform: scale(1.2);
                }
                .fa-linkedin-in:hover{
                    transform: scale(1.2);
                }
                .fa-envelope:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.sec2{
    background-color: $color4;
    height: 100%;
    .title-cv2{
        font-family: $font1;
        font-weight: bold;
        padding: 0px;
        text-align: center;
        margin-bottom: 0px;
        text-shadow: black 0px 1px 2.5px;
    }
    .text-sec2{
        font-family: $font2;
        font-size: 20px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right : 15px;
        padding-bottom : 15px;
        margin-bottom: 0px;
        font-weight: bold;
    }
}
footer{
    height: 100%;
    background-color: $color3;
    border: 1px solid black;
    flex-wrap: wrap;
    .title-foo{
        font-family: $font3;
        margin: 0px;
        text-align: center;
        font-size: 25px;
        text-shadow: rgb(81, 81, 81) 0px 2px 5px;
    }
    .text-foo{
        font-family: $font1;
        font-size: 20px;
        color: black;
        display: flex;
        justify-content: center;
    }
    .priv-foo{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 10px;
        font-size: 10px;
    }
    .text-foo:hover{
        color: $color4;
    }
}

@media only screen and (min-width:1850px) and (max-width:4000px){
    header{
        .navbar{
            background-color: white;
            box-shadow: none;
            .nav-text{
                padding-top: 15px;
                padding-left: 20px;
                font-size: 25px;
                font-family: $font1;
                font-weight: 500;
            }
            .nav-log{
                scale: 1.2;
                filter: drop-shadow(8px 8px 4px black);
            }
            .navbar-nav{
                display: flex;
                justify-content: end;
                .nav-link:hover{
                    color: $color4;
                }
            }
        }   
    }
    .sec1{
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 47%, $color1 47%);
        height: 800px;
        .conteiner{
            height: 500px;
            width: 400px;
            box-shadow:  -38px 37px 41px -28px rgba(0,0,0,0.49);
            border-radius: 0%;
            padding-top: 20px;
            margin-left: 700px;
            margin-right: 700px;
            margin-top: 70px;
            margin-bottom: 50px;
            .cont-cv{
                height: 200px;
                margin-left: 90px;
                margin-right: 90px;
            }
            .title-cv1{
                font-size: 30px;
                margin-top: 30px;
                font-family: $font3;
                font-weight: 500;
            }
            .boton{
                margin-top: 60px;
                scale: 1.5;
                .btn-cv{
                    background-color: blue;
                    color: white;
                    box-shadow: none;
                    transition: all (1.5s);
                    border: 1px solid black;
                }
                .btn-proy{
                    background-color: white;
                    color: black;
                    box-shadow: none;
                    transition: all (1.5s);
                    border: 1px solid black;
                }
                .btn-cv:hover{
                    background-color: white;
                    color: rgb(0, 0, 0);
                    opacity: 0.9;
                }
                .btn-proy:hover{
                    background-color: blue;
                    color: rgb(255, 255, 255);
                    opacity: 0.9;
                }   
            }
            .menu-cv{
                margin-top: 50px;
                background-color: white;
                height: 50px;
                text-align: center;
                font-size: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                color: black;
                a.brands{
                    color: black;
                    text-decoration: none;
                    .fa-whatsapp:hover{
                        transform: scale(1.3);
                    }
                    .fa-linkedin-in:hover{
                        transform: scale(1.3);
                    }
                    .fa-envelope:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
    .sec2{
        position: absolute;
        left:59%;
        top:210px;
        background-color: white;
        height: 508px;
        width: 300px;
        .title-cv2{
            padding: 35px;
            margin-bottom: 0px;
            font-size: 50px;
        }
        .text-sec2{
            padding-top: 0px;
            padding-left: 30px;
            padding-right :0px;
            padding-bottom : 20px;
            margin-bottom: 0px;
        }
    }
    footer{
        height: 100%;
        background-color: white;
        border: none;
        width: 100%vh;
        .foo{
            padding-top: 50px;
            .title-foo{
                float: left;
                font-family: $font1;
                margin: 0px;
                font-size: 17px;
                text-shadow: none;
                font-weight: bold;
                padding-left: 25px;
                padding-top: 10px;
            }
            .text-foo{
                float: left;
                font-family: $font1;
                font-size: 17px;
                color: black;
                padding-left: 0px;
                font-weight: 400;
            }
            .priv-foo{
                float: right;
                text-align: right;
                font-family: 'Times New Roman', Times, serif;
                margin-top: 0px;
                font-size: 15px;
                padding-right: 20px;
                margin-bottom: 0px;
            }
        }
    }
    .curriculum{
        background-color: $color1;
        height: 100%;
        padding-bottom: 50px;
        .title-cv{
            color: black;
            font-size: 50px;
            padding-top: 250px;
            text-align: center;
            font-family: $font1;
            font-weight: bold;
        }
        .edu{
            display: flex;
            justify-content: start;
            margin-top: 50px;
            .btn-download{
                background-color: blue;
                color: white;
                box-shadow: none;
                text-decoration: none;
                transition: all (1.5s);
                border-radius: 50px;
                padding: 10px;
                font-family: $font1;
                margin-left: 500px;
                font-size: 20px;
                transition: all 1.5s;
            }
            .subtitle-cv{
                font-family: $font1;
                font-size: 35px;
                font-weight: bold;
                margin-left: 30%;
            }
            .btn-download:hover{
                background-color: white;
                color: rgb(0, 0, 0);
                opacity: 0.9;
                box-shadow: 0px 0px 15px black;
            }
        }
        .cont-edu{
            background-color: $color2;
            height: 250px;
            margin-left: 650px;
            margin-right: 650px;
            margin-top: 50px;
            box-shadow: -16px 10px 45px -19px rgba(0,0,0,0.75);
            border-radius: 2px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .art-edu{
                display: flex;
                justify-content: flex-start;
                .title-edu{
                    margin-left: 20px;
                    margin-top: 15px;
                    font-family: $font3;
                    font-weight: bold;
                    color: blue;
                    font-size: 25px;
                    text-align: center;
                    text-shadow: black 0px 1px 2px;
                }
                .text-edu{
                    text-align: center;
                    font-size: 15px;
                    margin-left: 30px;
                    padding-right: 20px;
                }
                .text-edu_ef{
                    text-align: center;
                    font-size: 15px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 30px;
                }
                .text-exp{
                    text-align: center;
                    padding-top: 30px;
                }
            }
        }
    }
}

// Agregar beakpoints 